altgraph==0.17.4
annotated-types==0.7.0
attrs==25.3.0
greenlet==3.2.3
imagecodecs==2025.3.30
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
macholib==1.16.3
modulegraph==0.19.6
numpy==1.25.2
opencv-python==4.11.0.86
packaging==25.0
pip-autoremove==0.10.0
py2app==0.28.8
pydantic==2.11.5
pydantic_core==2.33.2
pyproject-toml==0.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
rawpy==0.21.0
referencing==0.36.2
rpds-py==0.25.1
SQLAlchemy==2.0.41
toml==0.10.2
typing-inspection==0.4.1
typing_extensions==4.14.0
